In [1]:
import pandas

In [5]:
import pandas

In [6]:
pandas.__version__

'1.5.3'

In [7]:
pandas.__version__

'1.5.3'

In [1]:
type(1)

int

In [2]:
2**4

16

In [3]:
name_of_var = 2

In [4]:
print("My name is {}".format('Rak'))

My name is Rak

In [5]:
print("First: {x} Second {y}".format(x='XXX', y='YYY'))

First: XXX Second YYY

In [6]:
mylist = ['a', 'b', 'c']

In [7]:
mylist[2]

'c'

In [9]:
mylist[0] = "new"

In [12]:
mylist

['new', 'b', 'c', 'd']

In [11]:
mylist.append('d')

In [13]:
mylist

['new', 'b', 'c', 'd']

In [14]:
mylist = [1,2,[100,200]]

In [15]:
mylist

[1, 2, [100, 200]]

In [16]:
mylist[2]

[100, 200]

In [17]:
mylist[2][1]

200

In [18]:
d = {'key1': 'value1', 'key2': 'value2'}

In [19]:
d['key2']

'value2'

In [20]:
t = (1,2,3)

In [21]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [22]:
if 1==1:
    print('yeh')

yeh

In [23]:
seq = [1,2,3,4,5,6]

In [25]:
for item in seq:
    print(item+item)

2
4
6
8
10
12

In [27]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [28]:
range(5)

range(0, 5)

In [30]:
list(range(2,5))

[2, 3, 4]

In [31]:
for x in range(5):
    print(x)

0
1
2
3
4

In [32]:
out = []
for num in x:
    out.append(num**2)

print(out)

TypeError: 'int' object is not iterable

In [33]:
x = [1,2,3,4,5]

In [35]:
out = []
for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16, 25]

In [36]:
def my_func():
    print('heil')

In [37]:
my_func()

heil

In [38]:
def times_two(var):
    return var*2

In [39]:
times_two(2)

4

In [40]:
d = {'k1': 'v1', 'k2': 'v2'}

In [41]:
d.keys()

dict_keys(['k1', 'k2'])

In [42]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [43]:
mylist = [1,2,3]

In [44]:
last = mylist.pop()

In [45]:
mylist

[1, 2]

In [46]:
last

3